= content_for :title do
  Alle ting

.row
  .col-xs-12
    .card
      .header
        = link_to 'Ny ting', new_thing_path, class: %w(btn btn-primary btn-fill btn-sm pull-right)
        %h4.title Innsendte ting
        %p.category Sortert etter dato

      .content
        #paginator
          = render "paginator"

      .content.table-responsive.table-full-width
        #things_table
          = render "table"


