= content_for :title do
  Ny ting

.row
  .col-xs-12
    .card
      .header
        %h4.title Opprett ny ting
      .content
        - content_for :actions do
          = link_to 'Avbryt', things_path, class: %w(btn btn-default btn-fill)

        = render 'form'

