Godkjent!

Takk for at du sendte inn et bidrag til Morgenbladets fiksefest. Ditt bidrag er nå godkjent.

Du kan se tingen din, og eventuelle kommentarer, på:

= @thing.frontend_url

Ha en fortsatt utmerket dag!
