%h2 Godkjent!

%p
  Takk for at du sendte inn et bidrag til Morgenbladets fiksefest.
  Ditt bidrag er nå godkjent.

%p
  Du kan se tingen din, og eventuelle kommentarer, på
  = succeed "." do
    %a{href: @thing.frontend_url} Fiksefestsiden

%p
  Ha en fortsatt utmerket dag!
