# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9ea8f805e90a43a10aa20404fd0a33dffc82a73899e805f0c770aa9feebf47bab6ded39c83b9176eb2517bf22af491425c6e27f1b18821374193e3229e930a74
  hash_secret: da473c2c50bcacd6d54e020b8fb090ab4b6ba2b04b241da2fc5e32b109f5ece64ef5b32bb3f08828247fa213d02f9f1190170282ca15686b9a1432b54e7effab
  postmark_api_token: <%= ENV["POSTMARK_API_TOKEN"] %>

test:
  secret_key_base: 33b9e9d9b08011e0657a407230a7e1df4e6d0fd31018fdb2d52953537d6c99dec2036d3eb97d960f4d527101f2b2cb1e79bd39ea169b22743fcc00573d87c6be

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  hash_secret: <%= ENV["HASH_SECRET"] %>
  postmark_api_token: <%= ENV["POSTMARK_API_TOKEN"] %>
